@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem - Vindo</h1>
    <h2>@ViewBag.Teste - Número @ViewBag.TesteInt</h2>
    <p>Saiba mais <a href="https://docs.microsoft.com/aspnet/core">Feito com ASP.NET Core</a>.</p>
</div>
